<div class="about_main">

  <div class="about-content">
      <br><br>  <h1>About Us</h1>
    <div class="matter">
        <p>
            Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital journey. Gadgeon is dedicated to building solid software systems that creates business value for enterprises. Our services include Product engineering, IoT Engineering, Embedded systems – hardware & Firmware, Enterprise application – integration & modernization, Full stack development, cloud & Mobile app development, data analytics with AI & ML, testing & automation, and Professional services. Gadgeon enables our customers to fully focus on high impact business transformation initiatives while the extended team from Gadgeon takes care of all engineering and operational activities. <br>
            Gadgeon in the last 10+ years partnered with over 70 customers with successful deployment of more than 170 projects across USA, Europe, and APAC. Over the years, we have been identified for quality and engineering excellence. We serve Enterprises, ISVs, Product companies, and fast growing startups across Digital Healthcare, Connected factories, Retail & E-Commerce, Communication, and Home & Building Automation domains.
        </p>
    </div>
  </div>
  
  
</div>
